
body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.name {
    background-color: #4aaaa5;
    color: white;
}

header {
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 960px;
    margin-left: 33%;
}

.title {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#title, nav {
    float: left;
}

.content {
    background-color: #ffffff;
    border-color: #dddddd;
    overflow: auto;
    clear: both;
    width: 960px;
    margin-left: 33%;
}

footer {
    background-color: #666666;
    color: white;
    position: sticky;
    bottom: 0px;
}
